.logo{
    color: #00E588;
    width: 40px;
    height: 40px;
}
.navstrc{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 47px 20px;
    align-items: center;
    background-color: #042531;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.profile-pic{
    width: 20px;
    height: 20px;
    color: #00E588;
}
.user-name{
    color: white;
    font-weight: 500;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

    