.logo{
    font-family: 'Cedarville Cursive', cursive;
}
.navstrc{
    display: flex;
    gap: 80%;
    width: 100%;
    padding: 30px 12px 20px 12px;
    align-items: center;
    background-color: #3ee577;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.navbar{
    display: flex;
    gap: 5px;
    background-color: rgb(135, 173, 222);
    padding: 5px 9px;
    border-radius: 20px;
    align-items: center;
}
.profile-pic{
    width: 20px;
    height: 20px;
    color: white;
}
.user-name{
    color: white;
    font-weight: 500;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

@media(min-width:280px){
    .navstrc{
        gap: 28%;
    }
    .user-name{
        font-size: medium;
    }
    .logo{
        font-size: xx-large;
    }
}

@media(min-width:360px){
    .navstrc{
        gap: 45%;
    }
    .navbar{
        gap: 3px;
    }
    .profile-pic{
        width: 26px;
    }
}
@media(min-width:412px){
    .navstrc{
        gap: 48%;
    }
    .navbar{
        gap: 3px;
    }
    .profile-pic{
        width: 30px;
    }
}
@media(min-width:540px){
    .navstrc{
        gap: 60%;
    }
    .navbar{
        gap: 3px;
    }
    .profile-pic{
        width: 30px;
    }
}
@media(min-width:717px){
    .navstrc{
        gap: 69%;
    }
}
@media(min-width:1024px){
    .navstrc{
        gap: 77%;
    }
}