.profile-page{
    background: #f0f0f0;
}
.accs{
    margin: 20px 20%;
}
.profile{
    padding: 2px;
}
.view-sec{
    display: flex;
    gap: 1%;
}
.left-sec{
    padding: 4px;
    width: 200px;
}
.right-sec{
    width: 100%;
}
.add-files{
    background-color: #1E2A3B;
    color: #00E588;
    border-radius: 99px;
    padding: 10px;
    width: 50px;
    height: 50px;
}
.small-profile-piczz{
    color: rgb(135, 173, 222);
}
.profile-piczz{
    color: rgb(135, 173, 222);

}
.profile-name{
    padding: 2% 40%;
}
.delete-btn{
    margin:  5% 20%;
}
.profile-email{
    padding: 2% 13%;
}
.adfil{
   display: flex;
   gap: 80%;
   align-items: center;
   border-bottom: 5px solid #3ee577;
}
.active-left-tab{
    background: white;
    box-shadow: 0 0 6px rgba(8,7,16,0.6);
    height: 100vh;
}
@media(min-width:280px){
    .profile{
        gap: 25%;
    }
    .active-left-tab{
        width: 200px;
        padding: 4px;
        height: 100vh;
    }
    .small-profile-piczz{
        width: 50px;
        height: 50px;
    }
    .p-section{
        display: none;
    }
    .active-p-section{
        display: block;
    }
    .left-sec{
        width: 60px;
    }
}
@media(min-width:360px){
    .profile{
        gap: 45%;
    }
    .right-sec{
        font-size: x-small;
    }
    .adfil{
        gap: 42%;
        font-size: xx-small;
    }
    .accs{
        margin-top: 350%;
        margin-left: 10px;
    }
    .delete-btn{
        margin-left: 10px;
    }
    .profile-name,.profile-email{
        font-size: small;
    }
    .profile-name{
        padding: 0% 30%;
    }
    .profile-email{
        padding: 4%;
    }
    .small-profile-picz{
        width: 100px;
        height: 100px;
    }
    .add-files{
        width: 40px;
        height: 40px; 
        padding: 15px;
    }
}
@media(min-width: 412px){
    .profile{
        gap: 50%;
    }
    .right-sec{
        font-size: x-small;
    }
    .profile-name{
        padding: 0% 35%;
    }
    .profile-email{
        padding: 0% 10%;
    }
    .adfil{
        gap: 50%;
        font-size: x-small;
    }
    .accs{
        margin-top: 500%;
    }
    .add-files{
        width: 30px;
        height: 30px; 
        padding: 5px;
    }
}
@media(min-width:540px){
    .profile{
        gap: 65%;
    }
    .adfil{
        gap: 70%;
        font-size: x-small;
    }
    .accs{
        margin-top: 310%;
        margin-left: 30px;
    }
    .delete-btn{
        margin-left: 30px;
    }
    .add-files{
        width: 50px;
        height: 50px; 
        padding: 10px;
    }

}
@media(min-width:717px){
    .profile{
        gap: 65%;
    }
    .adfil{
        gap: 75%;
        font-size: x-small;
    }
    .add-files{
        width: 50px;
        height: 50px; 
        padding: 10px;
    }
}
@media(min-width:1024px){
    .profile{
        align-items: center;
        gap: 18%;
    }
    .profile-name{
        padding: 0% 35%;
    }
    .profile-email{
        padding: 0% 20%;
    }
    .accs{
        margin-top: 150%;
        margin-left: 30px;
    }
    .delete-btn{
        margin-left: 30px;
    }
    .adfil{
        gap: 85%;
    }
}